<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="" type="text/html">
</head>


<body>
  <main>
    <h1><%= give.name %></h1>
    <h2><%= give.description %></h2>

    <% render.forEach(photo => { %>
    <img src="<%= photo.request.url %>" alt="">
    <% }) %>
  </main>
</body>

</html>