

h1{
  font-family: 'Limelight', cursive;
  font-size: xx-large;
}
h2{
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Limelight', cursive;
  font-size: large;
}
a{
  text-decoration: none;
}
nav{
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Limelight', cursive;
  font-size: small;
}
body{
  width: 50%;
  height: 115vh;
  /* background-color: rgb(156, 100, 100); */
  margin: auto;
  }
header{

}
main{

}
footer{

}