h1 {
  font-family: 'Limelight', cursive;
  font-size: 5vw;
  color: white;
  text-align: center;
  
  -webkit-animation: fadein 2s;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vw;
  
  -webkit-animation: fadein 2s;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.detailsNav{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  border-top: 6px solid white;
  padding-top: 30px;
  width: 800px;
}

.aDetails{
  font-family: 'Limelight', cursive;
  color: white;
  font-size: 20px;
}

.aDetailsS{
  text-decoration: underline;
  color: white;
  font-size: 20px;
}

.aDetails:hover{
  transform: scale(1.1);
}

.aDetailsS:hover{
  color: rgb(93, 93, 93);
  transform: scale(1.1);
}

nav {
  font-family: 'Josefin Sans', sans-serif;
  font-size: small;
  text-align: center;
}

.homepage-body {
  position: relative;
  width: 60%;
  height: 100vh;
  margin: auto;
  margin-top: 1%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.homepage-header {
  margin-top: 3vh;
  margin-bottom: 0.5vh;
  width: 80%;
  z-index: 2;
  text-align: center;
  color: black;
  font-weight: bolder;
}

.homepage-main {
  z-index: 2;
  min-height: 5vh;
  padding: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}

body{
  width: 50%;
  height: 115vh;
  margin: auto;
  }
  
.detailsBody{
  width: 18.5vw;
  height: 66.5vh;
  background: url("/img/detailsss.JPG") no-repeat center fixed;
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.boardingDetailsBody{
  width: 18.5vw;
  height: 66.5vh;
  background: url("/img/detailsBoarding.jpg") no-repeat center fixed;
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.stampedDetailsBody{
  width: 18.5vw;
  height: 66.5vh;
  background: url("/img/yellow.JPG") no-repeat center fixed;
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.homepage-footer {
  height: 40vh;
}