
/* rgb(204, 85, 85) */
.boarding-back{

    background: url('../img/red-door2.png') rgb(228, 188, 188) no-repeat center fixed;
    overflow: hidden;
    /* opacity: 0.5; */
    /* background-repeat: no-repeat; */
    background-size: 50%;
    border: 20px solid rgb(172, 154, 154);
    border-radius: 15px; 
   box-sizing: border-box;
   
   }
 #boarding-header{

  font-family: 'Limelight', cursive;
  font-size: 5vw;
  color: rgba(36, 30, 30, 0.925);
  border-radius: 10px;
  padding: 15px 35px;
 

} 
.header-box{
 width: 100%;
  /* border: 2px black solid; */
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.navers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;


} 
.navers > a{
 margin: 5px;
 text-align: center;
 /* align-items: center; */
 /* border: 2px black solid; */
 border-radius: 10px;
padding: 10px;
width: 75px;
/* height: 20px; */
color:rgba(36, 30, 30, 0.925);
background-color: whitesmoke;

font-family: 'Josefin Sans', sans-serif;
/* margin-top: 115px; */

}


 .container{

   overflow: scroll;
   height: 100vh;
   width: 90%; 

   padding: 20px;
   /* right: 20%; */
margin: auto;

}
.container::-webkit-scrollbar{
  width: 0px; 
 background: transparent; 

}
.place-name{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.images-role{
  border-radius: 10px;

 
}
.images{ 
   border: 4px solid rgb(172, 154, 154);
  width: 15vw;
  border-radius: 8px;
}

.three-buttons{
  margin-left: 3vw;
  /* display: flex; */
}
.hugs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  /* height: 250px; */
}
.loc-name{
  outline: none;
  font-family: 'Limelight', cursive;
  font-size: 2vw;
  padding: 5%;
border: 2px solid rgb(206, 194, 194);
border-radius: 12px;
/* background-color: rgb(228, 188, 188); */
background-color: rgba(252, 242, 212, 0.952);
font-weight: bolder;
color: rgba(36, 30, 30, 0.925);
transition: 1s all;
width: 20vw;
}
.loc-name:hover {
  background-color:rgb(206, 194, 194);
  border: 2px solid rgba(252, 242, 212, 0.952);
  transition: 1s all;
  cursor: pointer;
  }
.back-buttons{
 
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8vw;
  padding: 3%;
border: 2px solid rgb(206, 194, 194);
border-radius: 12px;
background-color: rgba(252, 242, 212, 0.952);
font-weight: bolder;
color:rgba(36, 30, 30, 0.925);
margin: 5%;
transition: 1s all;
}

.back-buttons:hover {
  background-color:rgb(206, 194, 194);
  border: 2px solid rgba(252, 242, 212, 0.952);
  transition: 1s all;
  cursor: pointer;

  }
 
  .surrounder{
    display: flex;
  }
